@model Eve4SalesApp.Models.ReleaseModel

@{
    ViewBag.Title = "Update Release";
}


<br />
<div class="well">

    <h2><span class="glyphicon glyphicon-saved"> </span> &nbsp; Release parameter successfully saved. Happy Sourcing!</h2>
    <br />
    @Html.ActionLink("<< Return Home", "Index", "Home")

